<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Shopme Admin','none')" />
<body>
    <div class="container-fluid">
        <div th:replace="navigation :: menu"></div>

        <div>
            <h2>Manage Categories</h2>
            <a class="text-decoration-none" th:href="@{/categories/new}">Create New Category</a>
            &nbsp;|&nbsp;
            <a class="text-decoration-none" th:href="@{/categories/export/csv}">Export to CSV</a>
        </div>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div th:replace="fragments::search_form('/categories/page/1')" />

        <div class="full-details">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Category Image</th>
                        <th th:replace="fragments :: column_link('/categories','name', 'Category Name')"/>
                        <th>Alias</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="cat : ${listCategories}">
                        <td>[[${cat.id}]]</td>
                        <td>
                            <span th:if="${cat.image == null}" class="fa-solid fa-image-portrait fa-5x icon-silver"></span>
                            <img th:if="${cat.image != null}" style="width: 100px; height: 100px" th:src="${cat.image}"/>
                        </td>
                        <td>[[${cat.name}]]</td>
                        <td>[[${cat.alias}]]</td>
                        <td>
                            <div th:replace="fragments::status(${cat.enabled},'category', '/categories/' + ${cat.id})"></div>
                        </td>
                        <td>
                            <div th:replace="fragments::category_actions"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${keyword != null}" class="text-center">
            <span>Search result does not show categories in hierarchical form</span>
            <div th:replace="fragments::pagination('/categories', 'category')"></div>
        </div>

        <th:block th:unless="${keyword != null}">
            <div th:replace="fragments::pagination('/categories', 'top-level category')"></div>
        </th:block>
        <div th:replace="modal_fragments :: confirm_modal"></div>

        <div th:replace="fragments :: footer"></div>
    </div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    modelURL = "[[@{/categories}]]";

    $(document).ready(function (){
        $(".link-delete").on("click",function (e){
            e.preventDefault();
            showDeleteConfirmModal($(this),"category","entityId");
        });
    });
</script>
</body>
</html>